.form-container {
  gap: 0.5rem;
  border-bottom: 1px solid var(--border-line);
  padding-top: 2rem;
  flex-wrap: wrap;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.hr-contact {
  /* margin-left: 2rem; */
  height: 1px;
  margin-bottom: 0.5rem;
  width: 30ch;
  border: none;
}

dialog {
  position: fixed;
  top: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-items: center;
  background-color: rgba(255, 255, 255, 0.1);
  width: 100%;
  height: 100%;
  backdrop-filter: blur(20px);
  z-index: 80;
}
.form-container-dialog {
  position: relative;
  top: 0;
  bottom: 0;
  margin: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 1rem;
  padding: 1rem;
  border-radius: 1rem;
  background: hsl(0 0% 0% / 0.3);
  flex-wrap: wrap;
  z-index: 60;
  color: white;
  min-width: 400px;
}

input,
textarea {
  width: 100%;
  padding: 0.25rem;
  border-radius: 0.5rem;
  border: none;
  color: black;
}
textarea {
  max-height: 10rem;
  min-height: 8rem;
}
@media (width < 1200px) {
  .form-container-dialog {
    width: 95%;
  }
}
