figure:hover {
  cursor: crosshair;
}

.close-button {
  transition: all 0.3s ease-in-out;
}
.close-button > img {
  width: 2em;
}

.close-button:hover {
  transform: scale(1.05);
}

.app-video:hover {
  cursor: crosshair;
}
.revealing-image {
  view-timeline-name: --revealing-image;
  view-timeline-axis: block;
  animation: linear reveal both;
  animation-timeline: --revealing-image;
  animation-range: entry 25% cover 35%;
}
@media (width < 768px) {
  .app-video {
    width: 100%;
  }
}
