

figure:hover {
  cursor: crosshair;
}

.close-button {
  transition: all 0.3s ease-in-out;
}
.close-button > img {
  width: 2em;
}

.close-button:hover {
  transform: scale(1.05);
}

.app-video:hover {
  cursor: crosshair;
}
.revealing-image {
  animation: reveal2 linear both;
  animation-timeline: view();
  animation-range: entry 10% cover 30%;
}
@media (width < 768px) {
  .app-video {
    width: 100%;
  }
}
