figure:hover {
  cursor: crosshair;
}

.close-button {
  transition: all 0.3s ease-in-out;
}
.close-button > img {
  width: 2em;
}

.close-button:hover {
  transform: scale(1.05);
}

.app-video:hover {
  cursor: crosshair;
}
@media (width < 768px) {
  .article-video {
    display: none;
  }
  .app-video {
    width: 100%;
  }
}
