---
import Container from "../Container.astro";
import { BlurVideo } from "../BlurVideo/BlurVideo.jsx";
---

<div class="relative">
  <div
    class="-z-10 absolute h-full w-full bg-[radial-gradient(#ccc_1px,transparent_1px)] dark:bg-[radial-gradient(rebeccapurple_1px,transparent_1px)] [background-size:16px_16px] [mask-image:radial-gradient(ellipse_50%_50%_at_50%_50%,#000_70%,transparent_100%)]"
  >
  </div>
  <Container>
    <article class="max-w-3xl mx-auto">
      <h2
        class="text-center text-2xl font-bold text-gray-800 dark:text-white md:text-4xl"
      >
        Somos más que un software.
      </h2>
      <p
        class="my-2 text-gray-600 text-center dark:text-gray-300 text-md md:text-xl font-semibold"
      >
        Somos la puerta al futuro para negocios de la industria primaria.
      </p>
      <p class="text-gray-600 text-center dark:text-gray-300 pb-10">
        Automatiza, calcula y reporta el impacto ambiental de tu empresa.
      </p>
      <BlurVideo client:visible />
    </article>
  </Container>
</div>
