---
import { CardZoom2 } from "../components/CardZoom/CardZoom2";
import video1 from "../video/video1.mp4";
import image2 from "../img/card2.jpg";
import shield from "../icons/shield.svg";
---

<section class="w-screen h-full md:h-screen flex items-center justify-center">
  <div
    aria-hidden="true"
    class="absolute inset-0 h-max w-full m-auto grid grid-cols-2 -space-x-52 opacity-40 dark:opacity-20 -z-10"
  >
    <div
      class="blur-[106px] h-[20rem] bg-gradient-to-br from-primary to-purple-400 dark:from-blue-700"
    >
    </div>
    <div
      class="blur-[106px] h-32 bg-gradient-to-r from-secondary to-tertiary dark:to-indigo-600"
    >
    </div>
  </div>
  <div class="absolute h-full w-full">
    <div
      class="-z-10 absolute h-full w-full bg-[radial-gradient(#e5e7eb_1px,transparent_1px)] [background-size:16px_16px] [mask-image:radial-gradient(ellipse_50%_50%_at_50%_50%,#000_70%,transparent_100%)]"
    >
    </div>
  </div>
  <CardZoom2
    id="two"
    icon={shield.src}
    client:visible
    image={image2.src}
    title="ECO SCORE"
    description="Un eco score o prueba de rendimiento proporciona una manera rápida y fácil de englobar el impacto ambietal de  una empresa. Por ejemplo, un producto con un alto eco score indica que tiene un menor impacto ambiental en comparación con otros productos similares con una puntuación más baja."
    video1={video1}
  />
</section>
