---
import { CardZoom2 } from "../components/CardZoom/CardZoom2.jsx";
import rola from "../img/rola.png";
import video1 from "../video/app-video.mp4";
import Layout from "../layouts/Layout.astro";
---

<Layout title="Cáclculo ambiental 🌿">
  <section class="w-screen h-full md:h-screen flex items-center justify-center">
    <div
      aria-hidden="true"
      class="absolute inset-0 h-max w-full m-auto grid grid-cols-2 -space-x-52 opacity-40 dark:opacity-20 -z-10"
    >
      <div
        class="blur-[106px] h-[20rem] bg-gradient-to-br from-primary to-purple-400 dark:from-blue-700"
      >
      </div>
      <div
        class="blur-[106px] h-32 bg-gradient-to-r from-secondary to-tertiary dark:to-indigo-600"
      >
      </div>
    </div>
    <div class="absolute h-full w-full">
      <div
        class="-z-10 absolute h-full w-full bg-[radial-gradient(#e5e7eb_1px,transparent_1px)] [background-size:16px_16px] [mask-image:radial-gradient(ellipse_50%_50%_at_50%_50%,#000_70%,transparent_100%)]"
      >
      </div>
    </div>
    <aside class="my-20 md:my-0">
      <CardZoom2
        icon=""
        client:visible
        image={rola.src}
        title="CALCULO MEDIOAMBIENTAL"
        description={`Vista 360º | Toda tu información centralizada en una sola pantalla, permitiendo identificar de forma sencilla los principales contribuyentes de tu huella ambiental: ☑Cambio climático ☑Biodiversidad ☑Salud humana ☑Agotamiento de recursos`}
        video1={video1}
      />
    </aside>
    <a
      href="/#features"
      class="absolute top-5 right-5 inline-flex h-12 overflow-hidden rounded-full p-[1px] focus:outline-none focus:ring-2 focus:ring-gray-400 focus:ring-offset-2 focus:ring-offset-gray-50 transition hover:scale-105"
    >
      <span
        class="absolute inset-[-1000%] animate-[spin_2s_linear_infinite] bg-[conic-gradient(from_90deg_at_50%_50%,#E2CBFF_0%,#393BB2_50%,#E2CBFF_100%)]"
      ></span>
      <span
        class="inline-flex h-full w-full cursor-pointer items-center justify-center rounded-full bg-gradient-to-r from-[#030f33] to-[#4e737a] px-8 py-1 font-medium text-gray-50 backdrop-blur-3xl"
      >
        Volver
      </span>
    </a>
  </section>
</Layout>
