---
import { CardZoom2 } from "../components/CardZoom/CardZoom2.jsx";
import image1 from "../img/img-calculation-1.webp";
import video1 from "../video/video-calculation-1.mp4";
import eco from "../icons/eco.svg";
import Layout from "../layouts/Layout.astro";
---

<Layout title="Cáclculo ambiental 🌿">
  <section class="w-screen h-full md:h-screen flex items-center justify-center">
    <div
      aria-hidden="true"
      class="absolute inset-0 h-max w-full m-auto grid grid-cols-2 -space-x-52 opacity-40 dark:opacity-20 -z-10"
    >
      <div
        class="blur-[106px] h-[20rem] bg-gradient-to-br from-primary to-purple-400 dark:from-blue-700"
      >
      </div>
      <div
        class="blur-[106px] h-32 bg-gradient-to-r from-secondary to-tertiary dark:to-indigo-600"
      >
      </div>
    </div>
    <div class="absolute h-full w-full">
      <div
        class="-z-10 absolute h-full w-full bg-[radial-gradient(#e5e7eb_1px,transparent_1px)] [background-size:16px_16px] [mask-image:radial-gradient(ellipse_50%_50%_at_50%_50%,#000_70%,transparent_100%)]"
      >
      </div>
    </div>
    <CardZoom2
      id="one"
      icon={eco.src}
      client:visible
      image={image1.src}
      title="CALCULO MEDIOAMBIENTAL"
      description="Vista 360º: Toda tu información centralizada en una sola pantalla (Cambio Climático, Salud Humana, Calidad del Ecosistema y agotamiento de recursos) Permitiendo identificar de forma sencilla los principales contribuyentes de tu huella ambiental."
      video1={video1}
    />
  </section>
</Layout>
