---
import { CardZoom } from "../components/CardZoom/CardZoom";
import Layout from "../layouts/Layout.astro";
import image3 from "../img/card3.jpg";
import video1 from "../video/video1.mp4";
---

<section class="w-screen h-full md:h-screen flex items-center justify-center">
  <div class="absolute h-full w-full bg-white">
    <div
      class="absolute h-full w-full bg-[radial-gradient(#e5e7eb_1px,transparent_1px)] [background-size:16px_16px] [mask-image:radial-gradient(ellipse_50%_50%_at_50%_50%,#000_70%,transparent_100%)]"
    >
    </div>
  </div>
  <CardZoom
    client:visible
    video1={video1}
    image={image3.src}
    preTitle="DATA COLLECTION"
    title="DECLARACIONES AMBIENTALES DE PRODUCTO"
    description="Una declaración ambiental de producto es un documento que proporciona información detallada sobre el ciclo de vida ambiental de un producto. Esta declaración está basada en un análisis completo de los impactos ambientales asociados con la fabricación, el uso y el fin de vida útil del producto."
    video1={video1}
  />
</section>
