---
import Solutions from "../components/SolutionSection.astro";
import Features from "../components/Features.astro";
import HeroSection from "../components/HeroSection.astro";
import Layout from "../layouts/Layout.astro";
import WhyCacta from "../components/WhyCacta.astro";
import CallToAction from "../components/CallToAction.astro";
import Blog from "../components/BlogSection.astro";
import Us from "../components/Us.astro";
import Contact from "../components/Contact.astro";
---

<Layout title="Bienvenido a Cacta">

  <main class="space-y-40 mb-40">
    <HeroSection />

    <Solutions />
    <Features />
    <WhyCacta />
    <!-- <CallToAction /> -->
    <Us />
    <Contact />
    <Blog />
  </main>
</Layout>
