---
import Container from "./Container.astro";
import image1 from "../img/agriculture.jpg";
import image2 from "../img/farm.jpg";
import image3 from "../img/tractor2.jpg";
---

<div id="blog">
  <Container>
    <div class="mb-12 space-y-2 text-center">
      <h2 class="text-3xl font-bold text-gray-800 md:text-4xl dark:text-white">
        Últimos Artículos
      </h2>
      <p
        class="lg:mx-auto lg:w-6/12 text-gray-600 dark:text-gray-300 text-balance"
      >
        Sumérgete en nuestro contenido cuidadosamente elaborado, donde abordamos
        una variedad de temas relevantes a la sustentabilidad, desde últimas
        tendencias, aplicación tecnológica, normativas, marcos hasta consejos
        prácticos para mejorar tu negocio
      </p>
    </div>
    <div class="grid gap-8 md:grid-cols-2 lg:grid-cols-3 blog-container">
      <div
        class="group p-6 sm:p-8 rounded-3xl bg-white border border-gray-100 dark:shadow-none dark:border-gray-700 dark:bg-gray-800 bg-opacity-50 shadow-2xl shadow-gray-600/10"
      >
        <div class="relative overflow-hidden rounded-xl">
          <img
            src={image1.src}
            alt="art cover"
            loading="lazy"
            width="1000"
            height="667"
            class="h-64 w-full object-cover object-top transition duration-500 group-hover:scale-105"
          />
        </div>
        <div class="mt-6 relative">
          <h3 class="text-2xl font-semibold text-gray-800 dark:text-white">
            Buscando la mejor experiencia de usuario.
          </h3>
          <p class="mt-6 mb-8 text-gray-600 dark:text-gray-300">
            Se empieza por el diseño, la usabilidad y la accesibilidad.
          </p>
        </div>
        <a
          href="/blog"
          class="flex items-center justify-center group-hover:text-tertiary text-black dark:text-white font-semibold"
        >
          <span class="text-sm">Leer más</span>
          <svg
            xmlns="http://www.w3.org/2000/svg"
            viewBox="0 0 24 24"
            fill="currentColor"
            class="w-4 h-4 -translate-x-4 text-2xl opacity-0 transition duration-300 group-hover:translate-x-2 group-hover:opacity-100"
          >
            <path
              fill-rule="evenodd"
              d="M12.97 3.97a.75.75 0 011.06 0l7.5 7.5a.75.75 0 010 1.06l-7.5 7.5a.75.75 0 11-1.06-1.06l6.22-6.22H3a.75.75 0 010-1.5h16.19l-6.22-6.22a.75.75 0 010-1.06z"
              clip-rule="evenodd"></path>
          </svg>
        </a>
      </div>
      <div
        class="group p-6 sm:p-8 rounded-3xl bg-white border border-gray-100 dark:shadow-none dark:border-gray-700 dark:bg-gray-800 bg-opacity-50 shadow-2xl shadow-gray-600/10"
      >
        <div class="relative overflow-hidden rounded-xl">
          <img
            src={image2.src}
            alt="art cover"
            loading="lazy"
            width="1000"
            height="667"
            class="h-64 w-full object-cover object-top transition duration-500 group-hover:scale-105"
          />
        </div>
        <div class="mt-6 relative">
          <h3 class="text-2xl font-semibold text-gray-800 dark:text-white">
            La sustentabilidad en el diseño web.
          </h3>
          <p class="mt-6 mb-8 text-gray-600 dark:text-gray-300">
            Se refleja en la forma en que se construyen los sitios web, desde el
            diseño hasta el desarrollo.
          </p>
        </div>
        <a
          href="/blog"
          class="flex items-center justify-center group-hover:text-tertiary text-black dark:text-white font-semibold"
        >
          <span class="text-sm">Leer más</span>
          <svg
            xmlns="http://www.w3.org/2000/svg"
            viewBox="0 0 24 24"
            fill="currentColor"
            class="w-4 h-4 -translate-x-4 text-2xl opacity-0 transition duration-300 group-hover:translate-x-2 group-hover:opacity-100"
          >
            <path
              fill-rule="evenodd"
              d="M12.97 3.97a.75.75 0 011.06 0l7.5 7.5a.75.75 0 010 1.06l-7.5 7.5a.75.75 0 11-1.06-1.06l6.22-6.22H3a.75.75 0 010-1.5h16.19l-6.22-6.22a.75.75 0 010-1.06z"
              clip-rule="evenodd"></path>
          </svg>
        </a>
      </div>
      <div
        class="group p-6 sm:p-8 rounded-3xl bg-white border border-gray-100 dark:shadow-none dark:border-gray-700 dark:bg-gray-800 bg-opacity-50 shadow-2xl shadow-gray-600/10"
      >
        <div class="relative overflow-hidden rounded-xl">
          <img
            src={image3.src}
            alt="art cover"
            loading="lazy"
            width="1000"
            height="667"
            class="h-64 w-full object-cover object-top transition duration-500 group-hover:scale-105"
          />
        </div>
        <div class="mt-6 relative">
          <h3 class="text-2xl font-semibold text-gray-800 dark:text-white">
            La importancia del control de calidad y la sustentabilidad.
          </h3>
          <p class="mt-6 mb-8 text-gray-600 dark:text-gray-300">
            En el desarrollo de software, el control de calidad es un factor
            clave para la sustentabilidad.
          </p>
        </div>
        <a
          href="/blog"
          class="flex items-center justify-center group-hover:text-tertiary text-black dark:text-white font-semibold"
        >
          <span class="text-sm">Leer más</span>
          <svg
            xmlns="http://www.w3.org/2000/svg"
            viewBox="0 0 24 24"
            fill="currentColor"
            class="w-4 h-4 -translate-x-4 text-2xl opacity-0 transition duration-300 group-hover:translate-x-2 group-hover:opacity-100"
          >
            <path
              fill-rule="evenodd"
              d="M12.97 3.97a.75.75 0 011.06 0l7.5 7.5a.75.75 0 010 1.06l-7.5 7.5a.75.75 0 11-1.06-1.06l6.22-6.22H3a.75.75 0 010-1.5h16.19l-6.22-6.22a.75.75 0 010-1.06z"
              clip-rule="evenodd"></path>
          </svg>
        </a>
      </div>
    </div>
  </Container>
</div>
<style>
  .blog-container {
    animation: reveal linear both;
    animation-timeline: view();
    animation-range: entry 20% cover 40%;
  }
</style>
