---

---

<div
  class="flex flex-col gap-2 w-full max-w-[90vw] my-40 opacity-75"
  id="example-output-section"
>
  <h1 class="w-full text-start text-3xl font-bold ">Nuestros Socios</h1>
  <p
    class="my-2 text-gray-600 dark:text-gray-300 text-md md:text-xl font-semibold"
  >
   Nos acompañan las siguientes empresas alrededor del mundo.
  </p>
  <div class="flex flex-row examples-container overflow-hidden">
    <div class="flex flex-row examples-row gap-2">
      <div class="flex flex-row gap-2 overflow-hidden">
        <div
          class="group rounded-3xl border flex items-center justify-center border-black/10 px-4 cursor-pointer hover:border-muted-foreground hover:shadow-md transition-colors"
        >
          <div class="p-2 grayscale transition duration-200 hover:grayscale-0">
            <img
              src="./images/clients/microsoft.svg"
              class="h-12 w-auto mx-auto"
              loading="lazy"
              alt="client logo"
              width=""
              height=""
            />
          </div>
        </div>
        <div
          class="group rounded-3xl min-w-[256px] w-[256px] border flex items-center justify-center border-black/10 px-4 cursor-pointer hover:border-muted-foreground hover:shadow-md transition-colors"
        >
          <div class="p-2 grayscale transition duration-200 hover:grayscale-0">
            <img
              src="./images/clients/airbnb.svg"
              class="h-12 w-auto mx-auto"
              loading="lazy"
              alt="client logo"
              width=""
              height=""
            />
          </div>
        </div>
        <div
          class="group rounded-3xl min-w-[256px] w-[256px] border flex items-center justify-center border-black/10 px-4 cursor-pointer hover:border-muted-foreground hover:shadow-md transition-colors"
        >
          <div
            class="p-2 flex grayscale transition duration-200 hover:grayscale-0"
          >
            <img
              src="./images/clients/google.svg"
              class="h-9 w-auto m-auto"
              loading="lazy"
              alt="client logo"
              width=""
              height=""
            />
          </div>
        </div>
        <div
          class="group rounded-3xl min-w-[256px] w-[256px] border flex items-center justify-center border-black/10 px-4 cursor-pointer hover:border-muted-foreground hover:shadow-md transition-colors"
        >
          <div class="p-2 grayscale transition duration-200 hover:grayscale-0">
            <img
              src="./images/clients/ge.svg"
              class="h-12 w-auto mx-auto"
              loading="lazy"
              alt="client logo"
              width=""
              height=""
            />
          </div>
        </div>
      </div>
      <div class="flex flex-row gap-2">
        <div
          class="group rounded-3xl min-w-[256px] w-[256px] border flex items-center justify-center border-black/10 px-4 cursor-pointer hover:border-muted-foreground hover:shadow-md transition-colors"
        >
          <div
            class="p-2 flex grayscale transition duration-200 hover:grayscale-0"
          >
            <img
              src="./images/clients/netflix.svg"
              class="h-8 w-auto m-auto"
              loading="lazy"
              alt="client logo"
              width=""
              height=""
            />
          </div>
        </div>
        <div
          class="group rounded-3xl min-w-[256px] w-[256px] border flex items-center justify-center border-black/10 px-4 cursor-pointer hover:border-muted-foreground hover:shadow-md transition-colors"
        >
          <p
            class="[&:not(:first-child)]:mt-6 group-hover:text-black text-black/70 line-clamp-2 leading-tight"
          >
            List of random legendary actors who had role in Hollywood
          </p>
        </div>
        <div
          class="group rounded-3xl min-w-[256px] w-[256px] border flex items-center justify-center border-black/10 px-4 cursor-pointer hover:border-muted-foreground hover:shadow-md transition-colors"
        >
          <p
            class="[&:not(:first-child)]:mt-6 group-hover:text-black text-black/70 line-clamp-2 leading-tight"
          >
            Top science fiction books read in 2020
          </p>
        </div>
      </div>
    </div>
  </div>
  <div class="flex flex-row examples-container overflow-hidden">
    <div class="flex flex-row examples-row2 gap-2">
      <div class="flex flex-row gap-2">
        <div
          class="group rounded-3xl min-w-[256px] w-[256px] border flex items-center justify-center border-black/10 px-4 cursor-pointer hover:border-muted-foreground hover:shadow-md transition-colors"
        >
          <p
            class="[&:not(:first-child)]:mt-6 group-hover:text-black text-black/70 line-clamp-2 leading-tight"
          >
            Generate random news about sport topic
          </p>
        </div>
        <div
          class="group rounded-3xl min-w-[256px] w-[256px] border flex items-center justify-center border-black/10 px-4 cursor-pointer hover:border-muted-foreground hover:shadow-md transition-colors"
        >
          <p
            class="[&:not(:first-child)]:mt-6 group-hover:text-black text-black/70 line-clamp-2 leading-tight"
          >
            Object-oriented programming languages
          </p>
        </div>
        <div
          class="group rounded-3xl min-w-[256px] w-[256px] border flex items-center justify-center border-black/10 px-4 cursor-pointer hover:border-muted-foreground hover:shadow-md transition-colors"
        >
          <p
            class="[&:not(:first-child)]:mt-6 group-hover:text-black text-black/70 line-clamp-2 leading-tight"
          >
            Get the top 10 countries in Europe
          </p>
        </div>
        <div
          class="group rounded-3xl min-w-[256px] w-[256px] border flex items-center justify-center border-black/10 px-4 cursor-pointer hover:border-muted-foreground hover:shadow-md transition-colors"
        >
          <div class="p-2 grayscale transition duration-200 hover:grayscale-0">
            <img
              src="./images/clients/google-cloud.svg"
              class="h-12 w-auto mx-auto"
              loading="lazy"
              alt="client logo"
              width=""
              height=""
            />
          </div>
        </div>
      </div>
      <div class="flex flex-row gap-2">
        <div
          class="group rounded-3xl min-w-[256px] w-[256px] border flex items-center justify-center border-black/10 px-4 cursor-pointer hover:border-muted-foreground hover:shadow-md transition-colors"
        >
          <p
            class="[&:not(:first-child)]:mt-6 group-hover:text-black text-black/70 line-clamp-2 leading-tight"
          >
            Generate random news about sport topic
          </p>
        </div>
        <div
          class="group rounded-3xl min-w-[256px] w-[256px] border flex items-center justify-center border-black/10 px-4 cursor-pointer hover:border-muted-foreground hover:shadow-md transition-colors"
        >
          <p
            class="[&:not(:first-child)]:mt-6 group-hover:text-black text-black/70 line-clamp-2 leading-tight"
          >
            Object-oriented programming languages
          </p>
        </div>
        <div
          class="group rounded-3xl min-w-[256px] w-[256px] border flex items-center justify-center border-black/10 px-4 cursor-pointer hover:border-muted-foreground hover:shadow-md transition-colors"
        >
          <p
            class="[&:not(:first-child)]:mt-6 group-hover:text-black text-black/70 line-clamp-2 leading-tight"
          >
            Get the top 10 countries in Europe
          </p>
        </div>
        <div
          class="group rounded-3xl min-w-[256px] w-[256px] border flex items-center justify-center border-black/10 px-4 cursor-pointer hover:border-muted-foreground hover:shadow-md transition-colors"
        >
          <p
            class="[&:not(:first-child)]:mt-6 group-hover:text-black text-black/70 line-clamp-2 leading-tight"
          >
            List of random legendary actors who had role in Hollywood
          </p>
        </div>
      </div>
    </div>
  </div>
</div>
<style>
  .examples-row {
    animation: marquee 40s linear infinite;
  }
  .examples-row2 {
    animation: marquee 30s linear infinite;
  }
  .flex {
    display: flex;
  }
  .examples-container {
    -webkit-mask-image: linear-gradient(
      90deg,
      #ffffff00,
      #000 10%,
      #000,
      #000 90%,
      #ffffff00
    );
    mask-image: linear-gradient(
      90deg,
      #ffffff00,
      #000 10%,
      #000,
      #000 90%,
      #ffffff00
    );
  }
  @keyframes marquee {
    0% {
      transform: translateX(0);
    }
    100% {
      transform: translateX(-50%);
    }
  }
</style>
