---
import { getLangFromUrl, useTranslatedPath } from "../i18n/utils";

const { currentLocale } = Astro;
import { geti18n } from "../i18n/index.ts";

const i18n = geti18n({ currentLocale });

const lang = getLangFromUrl(Astro.url);
const translatePath = useTranslatedPath(lang);

const { button_back } = i18n.SECTION_FEATURES;
---

<button
	id="goBack"
	class="fixed top-5 right-5 inline-flex h-12 overflow-hidden rounded-full p-[1px] focus:outline-none focus:ring-2 focus:ring-gray-400 focus:ring-offset-2 focus:ring-offset-gray-50 transition hover:scale-105 z-30">
	<span
		class="absolute inset-[-1000%] animate-[spin_2s_linear_infinite] bg-[conic-gradient(from_90deg_at_50%_50%,#E2CBFF_0%,#393BB2_50%,#E2CBFF_100%)]"
	></span>
	<span
		class="inline-flex h-full w-full cursor-pointer items-center justify-center rounded-full bg-gradient-to-r from-[#030f33] to-[#4e737a] px-8 py-1 font-medium text-gray-50 backdrop-blur-3xl">
		{button_back}
	</span>
</button>

<script is:inline>
	const goBack = document.getElementById("goBack");
	goBack?.addEventListener("click", () => {
		// Add a slight delay before navigating back to ensure previous page is fully loaded
		setTimeout(() => {
			window.history.go(-1); // Go back in history
			setTimeout(() => {
				window.location.reload(); // Refresh the page
			}, 100); // Adjust delay as needed
		}, 100); // Adjust delay as needed
	});
</script>
