<button
	id="scroll"
	class="fixed bottom-2 right-2 sm:right-20 m-auto w-10 h-10 bg-white dark:bg-gray-800 rounded-xl shadow-lg hover:scale-105 active:scale-95 transition -z-10 opacity-0 dark:border-gray-700 border">
	<svg
		xmlns="http://www.w3.org/2000/svg"
		class="m-auto"
		width="24"
		height="24"
		viewBox="0 0 24 24"
		stroke-width="2"
		stroke="currentColor"
		fill="none"
		stroke-linecap="round"
		stroke-linejoin="round">
		<path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
		<polyline points="6 15 12 9 18 15"></polyline>
	</svg>
</button>

<script>
	const scroll = document.getElementById("scroll");
	scroll?.addEventListener("click", () => {
		window.scrollTo({
			top: 0,
			behavior: "smooth",
		});
	});
</script>

<style>
	#scroll {
		animation: reveal linear both;
		animation-timeline: scroll();
		animation-range: 0 50px;
	}
	@keyframes reveal {
		to {
			opacity: 1;
			z-index: 10;
		}
	}
</style>
