---
import { ViewTransitions } from "astro:transitions";
import { AstroFont } from "astro-font";
import AppFooter from "../components/AppFooter.astro";
import AppHeader from "../components/AppHeader.astro";
---

<!doctype html>
<html lang="es">
  <head>
    <meta charset="UTF-8" />
    <meta name="author" content="Cacta Eco Software" />
    <meta name="theme-color" content="#007d67" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/public/logo.png" />
    <meta name="generator" content={Astro.generator} />
    <meta name="Cacta Eco Software" content="Cacta Eco Software" />
    <meta
      name="keywords"
      content="Cacta, Eco, Software, Medio Ambiente, Sostenibilidad, Innovaci贸n, Tecnolog铆a, App, Web, Desarrollo, Ambiental, Contaminaci贸n, Huella, Ecol贸gica, Empresas, Industria, Medici贸n, Monitoreo, Reducci贸n, Impacto, Ambiental, Futuro, Sostenible, Eco-Consciente, Tecnolog铆a, Medici贸n, Cambio, Significativo, CactaApp"
    />
    <meta property="og:url" content="https://ezestom.github.io/portfolio/" />
    <!-- <meta property="og:image" content="/public/logo.png" /> -->
    <meta
      name="description"
      content="Welcome to Cacta - Revolutionizing Environmental Accountability.  Join us on a groundbreaking journey as we introduce our innovative app designed to measure and monitor pollution levels from producers. Cacta empowers businesses to track and reduce their environmental footprint, fostering a sustainable future. Explore the next frontier in eco-conscious technology with Cacta - where measurement meets meaningful change.  #EnvironmentalInnovation #Sustainability #CactaApp"
    />
    <title>Cacta Eco Software</title>
    <ViewTransitions />
    <AstroFont
      config={[
        {
          src: [],
          name: "Cacta Eco Software",
          preload: true,
          display: "swap",
          selector: "html",
          fallback: "sans-serif",
          googleFontsURL:
            "https://fonts.googleapis.com/css2?family=Inter&family=MedievalSharp&family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap",
        },
      ]}
    />
  </head>
  <body class="bg-white dark:bg-gray-900">
    <AppHeader />
    <slot />
    <AppFooter />

    <!-- start free btn -->
    <!-- <div class="fixed inset-x-6 bottom-6 z-40 mx-auto w-max">
      <a
        href="#"
        target="_blank"
        class="flex gap-3 rounded-2xl border border-yellow-900/30 bg-gradient-to-br from-white/50 to-yellow-100 p-3 shadow-2xl shadow-yellow-900/50 backdrop-blur-xl dark:border-white/10 dark:from-gray-800 dark:to-black/70 dark:shadow-primary/50"
      >
        <span
          class="text-sm font-semibold tracking-wide text-yellow-900 dark:text-white"
        >
          Comenzar gratis</span
        >
      </a>
    </div> -->

    <style>
      :root {
        --gradient1: linear-gradient(220.55deg, #00ff9a 0%, #007d67 100%);
        --gradient2: linear-gradient(220.55deg, #ff3e57 0%, #ffb979 100%);
      }
      html {
        scroll-behavior: smooth;
      }

      body {
        margin: 0;
      }
      @keyframes reveal {
        from {
          opacity: 0.2;
          scale: 0.8;
          translate: 0 10%;
        }
      }
    </style>
  </body>
</html>
