---
import { ViewTransitions } from "astro:transitions";
import { AstroFont } from "astro-font";
import AppFooter from "../components/AppFooter.astro";
import AppHeader from "../components/AppHeader.astro";
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="author" content="Cacta Eco Software" />
    <meta name="theme-color" content="#007d67" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/png" href="/public/logo.png" />
    <meta name="generator" content={Astro.generator} />
    <meta name="Cacta Eco Software" content="Cacta Eco Software" />
    <meta
      title="Cacta Eco - Software para automatizar, calcular y reportar el impacto ambiental de tu empresa."
      content="Cacta Eco Software"
    />
    <meta
      name="description"
      content="Cacta Eco es un software de gestión ambiental que te permite medir, monitorear y reducir el impacto ambiental de tu empresa. Con Cacta Eco podrás calcular tu huella ecológica, gestionar tus residuos, medir tu consumo de agua y energía, y mucho más. ¡Descubre cómo Cacta Eco puede ayudarte a ser una empresa más sostenible!"
      content="Cacta Eco Software"
    />
    <meta
      name="keywords"
      content="Cacta, Eco, Software, Medio Ambiente, Sostenibilidad, Innovación, Tecnología, App, Web, Desarrollo, Ambiental, Contaminación, Huella, Ecológica, Empresas, Industria, Medición, Monitoreo, Reducción, Impacto, Ambiental, Futuro, Sostenible, Eco-Consciente, Tecnología, Medición, Cambio, Significativo, CactaApp"
    />
    <meta property="og:url" content="https://ezestom.github.io/portfolio/" />
    <meta property="og:image" content="/public/logo.png" />

    <title>Cacta Software</title>
    <ViewTransitions />
    <AstroFont
      config={[
        {
          src: [],
          name: "Cacta Eco Software",
          preload: true,
          display: "swap",
          selector: "html",
          fallback: "sans-serif",
          googleFontsURL:
            "https://fonts.googleapis.com/css2?family=Inter&family=MedievalSharp&family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap",
        },
      ]}
    />
  </head>
  <body class="bg-white dark:bg-gray-900">
    <AppHeader />
    <slot />
    <AppFooter />

    <!-- start free btn -->
    <!-- <div class="fixed inset-x-6 bottom-6 z-40 mx-auto w-max">
      <a
        href="#"
        target="_blank"
        class="flex gap-3 rounded-2xl border border-yellow-900/30 bg-gradient-to-br from-white/50 to-yellow-100 p-3 shadow-2xl shadow-yellow-900/50 backdrop-blur-xl dark:border-white/10 dark:from-gray-800 dark:to-black/70 dark:shadow-primary/50"
      >
        <span
          class="text-sm font-semibold tracking-wide text-yellow-900 dark:text-white"
        >
          Comenzar gratis</span
        >
      </a>
    </div> -->

    <style>
      :root {
        --gradient1: linear-gradient(220.55deg, #00ff9a 0%, #007d67 100%);
        --gradient2: linear-gradient(220.55deg, #ff3e57 0%, #ffb979 100%);
      }
      html {
        scroll-behavior: smooth;
      }

      body {
        margin: 0;
      }
      @keyframes reveal {
        from {
          opacity: 0.2;
          scale: 0.8;
          translate: 0 10%;
        }
      }
      /* view transition Api */
      ::view-transition-new(root),
      ::view-transition-old(root) {
        animation-duration: 0.3s;
      }
    </style>
  </body>
</html>
