#img2 {
  position: relative;
  object-fit: cover;
  /* Fondo con gradiente radial desde transparente hacia blanco */
  background: radial-gradient(
    circle,
    transparent 0%,
    rgba(255, 255, 255, 0.5) 100%
  );
  /* Animación de parallax */
  /* animation: initAnimation 15s ease-in-out infinite alternate; */
}

hr {
  margin: auto;
  padding: 0.05rem 0;
  margin: 0.05rem 0;
  width: 65%;
  border: none;
  background: linear-gradient(
    to right,
    transparent 0%,
    white 50%,
    transparent 100%
  );
}

.book-container {
  display: flex;
  align-items: center;
  justify-content: center;
  /* real perpective */
  perspective: 1000px;
  perspective-origin: 50% 50%;
  padding: 5rem;
}

@keyframes initAnimation {
  0% {
    transform: rotateY(0deg) rotateX(0deg);
  }
  100% {
    transform: rotateY(-4deg) rotateX(-2deg);
  }
}

.book {
  position: relative;
  transform-style: preserve-3d;
  transform: rotateY(-6deg) rotateX(4deg); /* Ajuste en X y Y para más realismo */
  transition: transform 1s ease;
  animation: initAnimation 15s ease-in-out infinite alternate;
}
